.page-not-found{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 5%;
    // overflow: hidden;
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // // transform: translate(-50%,-50%);
    transform: scale(0.6);
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }
}