.collection1{
    width: 100vw;
    height: 90vh;
    display: flex;
    padding: 2rem 5rem;

    h1{
        font-family: 'Della Respira', serif;
        font-weight: 300;
        font-size: 4rem;
        letter-spacing: 0.09em;
    }

    .harmony{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: 0.4s;
        &:hover{
            filter: saturate(150%);
        }
        img{
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
        .harmony-text{
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%,-10%);
            color: white;
            text-align: center;
        }
    }
     .mystique{
         position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: 0.4s;
        &:hover{
            filter: saturate(150%);
        }
        img{
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
        .mystique-text{
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%,-10%);
            color: white;
            text-align: center;
        }
    }
}

@media screen and (max-width: 991px){
    .collection1{
        height: 80vh;
        padding: 1rem 3rem;
        h1{
            font-size: 2.6rem;
        }
    }
}
@media screen and (max-width: 640px){
    .collection1{
        flex-direction: column;
        h1{
            font-size: 2rem;
        }
    }
}

@media screen and (max-width: 480px){
    .collection1{
        padding: 1rem 2rem;
        h1{
            font-size: 1.6rem;
        }
        p{
            font-size: 0.8rem;
        }
    }
}