.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 15vh;
    padding: 2rem 5rem;
    // border-bottom: 1.333px solid #7a7a7a;
    position: fixed;
    z-index: 100;
    transition: background-color 0.4s ease-out, height 0.4s ease-out;
    
    &.active{
        background-color: #FFFCF4;
        height: 10vh;
    }

    .logo{
        font-family: 'Cinzel Decorative', cursive;
        font-weight: 700;
        color: white;
        letter-spacing: 0.09em;
        transition: 0.3s;

        &:hover{
            color: #fa9145;
        }

        &.active{
            color: black;
            transition: 0.3s;
            &:hover{
                color: #fa9145;
            }
        }
    }

    .links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        a{
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            margin-left: 2rem;
            color: white;
            position: relative;
            
            &::after{
                content: "";
                position: absolute;
                background-color: #ca661e;
                height: 2px;
                width: 0;
                left: 0;
                bottom: -10px;
                transition: 0.3s;
            }

            &:hover:after{
                width: 100%;
            }

            &.active{
                color: black;
            }
        }
    }

    .menu-icon{
        width: 1.5rem;
        color: white;
        display: none;
        z-index: 101;
        cursor: pointer;
        &.active{
            color: black;
        }
    }
}

@media screen and (max-width: 780px){
    .navbar{
        padding: 0.8rem 2rem;
        .logo{
            z-index: 101;
            font-size: 0.9rem;
        }
        .links{
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%,0);
            flex-direction: column;
            justify-content: center;
            width: 100vw;
            height: 100vh;
            background-color: #793300;
            display: none;
            transition: all 2s ease-out;
            a{
                margin-bottom: 2rem;
                font-size: 2.2rem;
                color: #FFD9BD;
                &.active{
                    color: #FFD9BD;
                }
            }
            &.active{
                display: flex;
            }
        }

        .menu-icon{
            display: block;
            &.active{
                color: black;
            }
        }
    }
}