.about-us{
    position: relative;
    background-color: white;

    .about-us-hero-section{

        width: 100vw;
        height: 100vh;
        position: relative;

        .about-us-hero-img {
            width: 100%;
            height: 100%;
            background-image: url("https://i.ibb.co/5264kmT/About-us-cover.webp");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
            filter: brightness(80%) opacity(0.8);
          }

          h1{
            font-family: 'Della Respira', serif;
            font-size: 6em;
            font-weight: 100;
            letter-spacing: 0.1em;
            color: white;
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translate(-50%,-40%);
            z-index: 2;
            text-align: center;
          }

          .discover{
            font-weight: 400;
            color: white;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            p{
                font-size: 1.1em;
                font-weight: 400;
                letter-spacing: 0.025em;
            }

            .discover-icon-bar{
                border-left: 0.1rem solid black;
                height: 3rem;
            }
          }
    }

    .about-us-info{
      width: 100vw;
      height: 90vh;
      padding: 2rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      p:first-child{
        line-height: 2.8;
        color: #7A7A7A;
        letter-spacing: 0.05em;
        font-weight: 500;
        font-size: 1.3em;
        text-align: center;
      }
      
      h1{
        font-family: 'Cinzel Decorative', cursive;
        font-size: 2.5em;
        padding: 1rem;
        border-bottom: 0.1rem solid #bbbbbb;
      }

      .subheading{
        margin-top: 1rem;
        text-align: center;
        font-size: 1.1em;
        color: #858585;
      }
    }

    .about-us-value{
      width: 100vw;
      height: 90vh;
      position: relative;

      h1{
        font-family: 'ZCOOL XiaoWei', serif;
        font-size: 2.8em;
        font-weight: 200;
        text-shadow: 5px 3px 14px rgba(150, 150, 150, 0.61);
        letter-spacing: 0.15em;
        color: rgb(255, 255, 255);
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%);
        z-index: 5;
        text-align: center;
      }

      .value-content{
        display: flex;
        width: 100%;
        height: 100%;
      }

      .value-img{
        width: 100%;
        height: 100%;
        background-image: url("https://i.ibb.co/Cvz2n0q/Brand-image.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.5s ease-out;
        flex: 50%;

        &:hover{
          filter: grayscale(100%);
        }
      }

      .value-text{
        background-color: black;
        padding: 4rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 50%;

        p{
          color: white;
          font-weight: 300;
          font-size: 1.2em;
          line-height: 3;
          letter-spacing: 0.05em;
        }
      }
    }

    .about-us-packaging{
      width: 100vw;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 2rem 0;
      padding-top: 0;
      
      // h1{
      //   font-family: 'Poppins', sans-serif !important;
      //   line-height: 2;
      //   font-weight: 600;
      //   margin-bottom: 1.2rem;
      //   text-transform: uppercase;
      //   font-size: 2em;
      //   text-align: center;
      //   letter-spacing: 0.09em;
      //   color: rgb(240, 156, 60);
      // }

      .packaging-img{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: relative;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
        h1{
          font-family: 'Poppins', sans-serif !important;
          line-height: 1.3;
          font-weight: 600;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          font-size: 2vw;
          text-align: center;
          position: absolute;
          left: 50%;
          top: 10%;
          transform: translate(-50%,-10%);
          color: white;
        }
      }

      p{
        font-family: 'Lustria', serif;
        font-size: 1.3em;
        line-height: 1.9;
        color: #7A7A7A;
        margin-top: 1rem;
        padding: 0.8rem;
        text-align: justify;
        letter-spacing: 0.05em;
      }

    }
}

@media screen and (max-width: 991px) {
 .about-us{
  .about-us-info{
    height: 60vh;
    p:first-child{
      font-size: 1em;
    }
  }
  .about-us-packaging{
    height: 100vh;
    .packaging-img{
      height: 50%;
    }
    h1{
      font-size: 1.5em;
    }
    p{
      text-align: left;
      font-size: 1em;
    }
  }
  .about-us-value{
    h1{
      font-size: 2.2em;
    }
    .value-text{
      p{
        font-size: 1em;
        line-height: 2.7;
      }
    }
  }
 }
}

@media screen and (max-width: 480px){
  .about-us{
    .about-us-hero-section{
      h1{
        font-size: 3em;
      }
      .discover{
        p{
          margin-bottom: 2rem;
        }
      }
    }
    .about-us-info{
      p:first-child{
        font-size: 0.8em;
        line-height: 2;
        text-align: left;
      }
      h1{
        font-size: 2em;
      }
      .subheading{
        font-size: 0.8em;
      }
    }
    .about-us-packaging{
      height: 80vh;
      h1{
        font-size: 1em;
      }
      p{
        font-size: 0.7em;
      }
    }
    .about-us-value{
      h1{
        text-shadow: 5px 3px 13px rgba(49, 49, 49, 0.8);
        line-height: 1.2;
      }
      .value-content{
        flex-direction: column;
      }
      .value-text{
        p{
          font-size: 0.8em;
          line-height: 2.2;
        }
      }
    }
  }
}