.features{
    padding: 2rem 4rem;
    display: flex;
    background-color: #FFFCF4;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100%;

    .feature-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .feature-icon{
            width: 1.5em;
        }

        h4{
            font-weight: 500;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            letter-spacing: 0.05em;
        }

        p{
            font-family: 'Lustria', serif;
            letter-spacing: 0.03em;
            text-align: center;
        }
    }


}

@media screen and (max-width: 991px) {
    .features{
        padding: 0.5rem 5rem;
        .feature-item{
            .feature-icon{
                width: 1em;
            }
            h4{
                font-size: 80%;
            }
            p{
                font-size: 80%;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .features{
        flex-direction: column;
        .feature-item{
            .feature-icon{
                margin-top: 1rem;
            }
            h4{
                margin-top: 0.6rem;
                margin-bottom: 0.5rem;
            }
        }
    }
}