.static-elements{
    width: 100vw;
    height: 90vh;
    position: relative;
    z-index: 10;
    top: 10vh;

    .bottom-links{
        position: absolute;
        bottom: 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #FFD8BA;
        width: 100%;
        padding: 0 5rem 0 5rem;
        p{
            font-size: 0.8rem;
            letter-spacing: 0.1em;
            font-weight: 200;
        }
    }

    .company-name{
        position: absolute;
        left: 32%;
        top: 23%;
        transform: translate(-32%,-23%);
        color: #FFD8BA;
        z-index: 20;
        overflow: hidden;
        h4{
            font-size: 0.8rem;
            font-weight: 400;
            letter-spacing: 0.1em;
        }
        p{
            font-size: 0.7rem;
            letter-spacing: 0.1em;
        }
    }

    .circle-svg{
        position: absolute;
        right: 38%;
        top: 20%;
        // transform: translate(-38%,-20%);
        width: 4rem;
        font-weight: 200;
        animation: rotation 10s infinite linear;
        z-index: 20;
    }

    .collection-showcase{
        margin: auto;
        width: 100%;
        height: 100%;   
        position: relative;    
        // display: flex;
        // overflow: hidden;
    
        .collection-category{
            width: 100%;
            height: 100%;
            position: relative;
            // flex-shrink: 0;
    
            .image-frame{
                width: 20rem;
                height: 30rem;
                overflow: hidden;
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-50%,-30%);
                -webkit-clip-path: inset(1px round 13rem 13rem 13rem 13rem);
                clip-path: inset(1px round 13rem 13rem 13rem 13rem);
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                // .img2{
                //     position: absolute;
                //     left: 0;
                //     top: 0;
                // }
                // &:hover{
                //     .img2{
                //         visibility: hidden;
                //     }
                // }
            }
    
            .heading{
                width: max-content;
                color: #FFD8BA;
                position: absolute;
                left: 34%;
                top: 40%;
                transform: translate(-34%,-40%);
                overflow: hidden;
                h1{
                    font-family: 'Cinzel Decorative', cursive;
                    font-size: 2.6rem;
                    font-weight: 400;
                    letter-spacing: 0.2em;
                }
                p{
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.3rem;
                    font-weight: 300;
                    display: flex;
                    letter-spacing: 0.2em;
                    margin-left: 2rem;
                }
            }
    
            .category-name{
                position: absolute;
                left: 38%;
                top: 70%;
                transform: translate(-38%,-70%);
                color: white;
                h4{
                    font-size: 0.9rem;
                    font-weight: 400;
                    letter-spacing: 0.1em;
                }
                p{
                    font-size: 0.7rem;
                    letter-spacing: 0.1em;
                    font-weight: 200;
                    margin-top: 0.5rem;
                }
            }
    
            .collection-brief{
                position: absolute;
                right: 27%;
                bottom: 25%;
                // transform: translate(-27%,-25%);
                color: white;
                p{
                    font-size: 0.6rem;
                    letter-spacing: 0.1em;
                    font-weight: 200;
                    margin-top: 0.5rem;
                    line-height: 1.8;
                }
            }
        }
    }
}


@keyframes rotation {
    from {
            transform: rotate(0deg);
    }
    to {
            transform: rotate(359deg);
    }
}

@media screen and (max-width: 1000px){
    .static-elements{
        .circle-svg{
            right: 23%;
        }
        .collection-showcase{
            .collection-category{
                .collection-brief{
                    right: 10%;
                }
                .category-name{
                    left: 30%;
                }
            }
        }
    }
    
}

@media screen and (max-width: 700px){
    .static-elements{
        .bottom-links{
            padding: 0 2rem 0 2rem;
        }
        .circle-svg{
            right: 23%;
        }
        .company-name{
            left: 23%;
        }
        .collection-showcase{
            .collection-category{
                .heading{
                    left: 27%;
                    h1{
                        font-size: 2rem;
                    }
                    p{
                        font-size: 1rem;
                    }
                }
                .image-frame{
                    width: 16rem;
                    height: 25rem;
                }
                .collection-brief{
                    right: 2%;
                    p{
                        font-size: 0.5rem;
                    }
                }
                .category-name{
                    left: 28%;
                    h4{
                        font-size: 0.7rem;
                    }
                    p{
                        font-size: 0.5rem ;
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 500px){
    .static-elements{
        .bottom-links{
            padding: 0 1rem 0 1rem;
            p{
                font-size: 0.6rem;
            }
        }
        .circle-svg{
            right: 20%;
        }
        .company-name{
            left: 18%;
            h4{
                font-size: 0.7rem;
            }
            p{
                font-size: 0.58rem;
            }
        }
        .collection-showcase{
            .collection-category{
                .heading{
                    left: 22%;
                    h1{
                        font-size: 1.5rem;
                    }
                    p{
                        font-size: 0.8rem;
                    }
                }
                .image-frame{
                    width: 13rem;
                    height: 20rem;
                }
                .collection-brief{
                    right: 3%;
                    bottom: 40%;
                    p{
                        font-size: 0.45rem;
                    }
                }
                .category-name{
                    left: 29%;
                    top: 60%;
                    h4{
                        font-size: 0.8rem;
                    }
                    p{
                        font-size: 0.5rem ;
                    }
                }
            }
        }
    }
    
}